.menu {
  
  display: flex;
  flex-direction: column;
  padding: 4rem 2rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@keyframes fadeInSlide {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.titulo {
  margin-bottom: 2rem;
  font-size: 1.5rem;
  text-align: center;
  color: var(--color-texto);
  animation: fadeInSlide 0.8s ease-out both;
}


.grid {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

.card {
  background-color: #e6b800;
  border-radius: 8px;
  padding: 1rem;
  width: 140px;
  box-shadow: var(--sombra-suave);
  transition: transform 0.2s ease-in-out;
}
.cardDark {
  background-color: #2a2a2a;
  color: var(--color-texto);
}


.card:hover {
  transform: scale(1.04);
}

.icon {
  font-size: 2rem;
  color: var(--color-texto); /* emoji heredado, mejor aclararlo */
}

.nombre {
  color: var(--color-texto); /* para forzar visibilidad en modo oscuro */
  font-weight: bold;
  margin: 0.5rem 0;
}

.boton {
  margin-top: 0.5rem;
  padding: 0.3rem 0.7rem;
  border: none;
  background-color: #cc9f00;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 500;
  transition: background-color 0.2s ease-in-out;
}
.boton:hover {
  background-color: #d6aa00;         /* efecto brillo*/
}

@media (max-width: 600px) {
  .grid {
    flex-direction: column;
    align-items: center;
  }

  .card {
    width: 90%;
    margin-bottom: 1rem;
  }
}



